.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@for $i from 1 through 3 {
    .grid-element-#{$i} {
        grid-column: #{$i};
        align-self: center;
        justify-self: center;
    }
}
